<!-- CSS Definitions -->

/* ############################################## --
 Code for grid containers. Copied from:
 https://www.w3schools.com/css/css_grid_container.asp
 My understanding? - think I get this one ... but!
 Pity number of columns is fixed?? I choose 3 for now.
 Do I have to repeat for different column counts?

 Mabe I can override with a local grid-template-columns?
 Experiment later.
-- ############################################## */

.grid-container {
  justify-content: space-evenly; width: 100%;
  display: grid;  align-content: center; grid-gap: 10px;
  grid-template-columns: 50px 50px 50px;
  background-color: #2196F3; padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black; text-align: center; font-size: 14px;
}

/* ############################################## --
 Code for grid containers. END.
-- ############################################## */

/* ############################################## --
 Code for popups. Copied wholesale from:
 https://www.w3schools.com/howto/howto_js_popup.asp
 My understanding? - Partial :-(
 
 Correction!! Not copied wholesale. The w3 version
 only works if you only ever want 1 popup???
 a second invocation "pops" the first popup?
 I do not fully understand why. It should work.
 Seems one cannot overwrite the first popup dwfinition?
 Anyway, solution is to pass the popup as a parameter
 having made each popup with a new id.
 I WIN! At the cost of hours. During which I learned some stuff
 including that this webbie thing is a bloody messy business.
-- ############################################## */
 
 /* Popup container - can be anything you want */
.popup {
  position: relative; display: inline-block; cursor: pointer;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden; width: 160px;
  color: SlateGray; background-color: Wheat;
  text-align: center; border-radius: 6px; padding: 8px 0; position: absolute;
  z-index: 1; bottom: 75%; left: 80%; margin-left: 5px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px;
  border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible; -webkit-animation: fadeIn 1s; animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;} to {opacity:1 ;}
}
 
/* ############################################## --
 Code for popups. See Javascript at end of body.
-- ############################################## */
 
/* ############################################## --
 Code for buttons on an image. Copied wholesale from:
 https://www.w3schools.com/howto/howto_css_button_on_image.asp
 My understanding? - Partial :-(
-- ############################################## */

 /* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative; width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%; height: 100%;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute; top: 100%; left: 95%;
  transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);
  background-color: #555; color: white;
  font-size: 16px; padding: 12px 24px; border: none;
  cursor: pointer; border-radius: 5px;
}

.container .btn:hover {
  background-color: LightBlue;
}
 
/* ############################################## --
 Code for buttons on an image. END.
-- ############################################## */


